* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0 solid;
    font-family: "Robot", sans-serif;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 28px 0;
}

.green {
    color: green;
}

h1 {
    font-size: 56px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    padding: 24px 0;
    font-weight: 500;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__title {
    font-size: 24px;
    padding: 0 12px;
}

.inpute__note {
    border: 2px rgba(107, 104, 104, 0.103) solid;
    border-radius: 3px;
    padding-right: 600px;
    padding-bottom: 24px;
    font-size: 16px;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.btn {
    padding: 18px 24px;
    background-color: green;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/*

OUTPUT 

*/

.output__note {
    border: 1px rgba(128, 128, 128, 0.233) solid;
    border-radius: 3px;
    padding: 0 0 12px 12px;
}